@import "../../style/globalSytle.scss";
.dropdown-menu {
  position: relative;
  display: inline-block;
  width: 100%;
  max-width: 200px;
}

.dropdown-toggle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #ffffff;
  border: 1px solid #202225;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;
  color: #202225;
}

.dropdown-menu-list {
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: 8px;
  padding: 0;
  list-style-type: none;
  background-color: #ffffff;
  border: 1px solid #202225;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  z-index: 1;
}

.dropdown-menu-item {
  display: block;
  padding: 8px 16px;
  font-size: 14px;
  font-weight: bold;
  color: #202225;
  cursor: pointer;
  transition: background-color 0.25s ease;
}

.dropdown-menu-item:hover {
  background-color: #f8f9fa;
}

.dropdown-menu-item.selected {
  background-color: #202225;
  color: #ffffff;
}
